list - []
tuple - ()
set- {}
dictionay- {}

In [5]:
set1 = {'a','b', 1, 2, 3, 3, 1, 2, 'a', 'b'}

In [6]:
set1

{1, 2, 3, 'a', 'b'}

In [23]:
for i in set1:
    print(i)

1
2
3
b
a

In [10]:
set2  = {}
type(set2)

dict

In [11]:
set2  = {1}
type(set2)

set

In [13]:
#dict1 = {key : value, key1 : value1......}
dict1 = {'name': 'rajeevi', 'class': 'Python', 'name': 'kiranmayi'}
dict1

{'name': 'kiranmayi', 'class': 'Python'}

In [14]:
dict1.keys()

dict_keys(['name', 'class'])

In [15]:
dict1.values()

dict_values(['kiranmayi', 'Python'])

In [17]:
list1 = [1,2,3,4,5,6,7,8,9,0]
list1[0:4]

[1, 2, 3, 4]

In [18]:
list1[0::4]

[1, 5, 9]

 # list1[start : stop::step]

In [20]:
list1[0:9:2]

[1, 3, 5, 7, 9]

In [21]:
list1[-1:-5]
list1[::-3]
list1[0: -1]
list1[:8]
list1[2::1]

[3, 4, 5, 6, 7, 8, 9, 0]

In [22]:
list1[-1:-5]

[]

In [24]:
set= {1,2,3,'r','s',4,5}
for i in set:
    print(i)

1
2
3
4
5
s
r

In [25]:
Li=(1,2,3)
type(Li)

tuple

In [26]:
li=[8,9,7]
type(li)

list

In [27]:
a={2,5,4}
type(a)

set

In [28]:
b={}
type(b)

dict

In [33]:
dic={'name': 'rajee','age': 21,'dept':'cse'}
print(dic)

{'name': 'rajee', 'age': 21, 'dept': 'cse'}

In [34]:
dic.keys()

dict_keys(['name', 'age', 'dept'])

In [35]:
dic.values()

dict_values(['rajee', 21, 'cse'])

In [42]:
l=[3,5,2,4,8,7,4,8,3,9,4,7,4,0,2,1]
l[2:5]

[2, 4, 8]

In [38]:
l[1:9]

[5, 2, 4, 8, 7, 4, 8, 3]

In [39]:
l[:8]

[3, 5, 2, 4, 8, 7, 4, 8]

In [40]:
l[0:8]

[3, 5, 2, 4, 8, 7, 4, 8]

In [43]:
l[8:]

[3, 9, 4, 7, 4, 0, 2, 1]

In [44]:
l[3:]

[4, 8, 7, 4, 8, 3, 9, 4, 7, 4, 0, 2, 1]

In [45]:
l[1::]

[5, 2, 4, 8, 7, 4, 8, 3, 9, 4, 7, 4, 0, 2, 1]

In [46]:
l[1:]

[5, 2, 4, 8, 7, 4, 8, 3, 9, 4, 7, 4, 0, 2, 1]

In [47]:
l[8::]

[3, 9, 4, 7, 4, 0, 2, 1]

In [48]:
l[0::7]

[3, 8, 2]

In [49]:
l[0:7]

[3, 5, 2, 4, 8, 7, 4]

In [1]:
s1={'rajeevi','kiranmai','pink','Akhila','shravani'}

In [2]:
s1

{'Akhila', 'kiranmai', 'pink', 'rajeevi', 'shravani'}

In [18]:
s1.remove('rajeevi')

print(s1)

{'kiranmai', 'Akhila'}

In [19]:
s2={'pink','yellow','blue','kite'}
s2.remove('kite')

In [20]:
s2

{'blue', 'pink', 'yellow'}

In [24]:
s3={'a','e','i','o'}
s3.add('u')
print(s3)

{'u', 'e', 'o', 'a', 'i'}

In [23]:
s3

{'a', 'e', 'i', 'o', 'u'}

In [25]:
names={'rajee','kiranmai','akhila','pink'}
names.remove('pink')
names.add('rajeevi')
print(names)

{'kiranmai', 'rajeevi', 'akhila', 'rajee'}

In [27]:
s4={1,2,3,4,6,7}
s=s4.copy()
s4.add(8)
print(s)
print(s4)

{1, 2, 3, 4, 6, 7}
{1, 2, 3, 4, 6, 7, 8}

# 10.Print the second largest string from the list of string:

# Input: a=["Python","Java","C","programming", "Swift"]

In [9]:
a=["Python","Java","C","Programming","Swift"]
x=sorted(a,key=len)
y=x[-2]

print("second largest string of list: ",y)

second largest string of list:  Python

In [10]:
char=['r','a','j','e','e','v','i']
print("before clear set", char)
char.clear()
print("after clear set", char)

before clear set ['r', 'a', 'j', 'e', 'e', 'v', 'i']
after clear set []

# 11. Read the input as string and output will followed

# Example :Input : orange  Reason: Print the next consonent to the vowel and print the vowel to the next consonent

In [14]:
str1="orange"
str2=""
for ch in str1:
    if ch in ('a','e','i','o','u'):
        str2=str2+chr(ord(ch)+1)
    else:
        if ord(ch)>=98 and ord(ch)<=100:
            str2=str2+'e'
        elif ord(ch)>=102 and ord(ch)<=104:
            str2=str2+'i'
        elif ord(ch)>=106 and ord(ch)<=110:
            str2=str2+'o'
        elif ord(ch)>=112 and ord(ch)<=116:
            str2=str2+'u'
print(str2)

puboif

In [15]:
a={1,3,2,7}
b={3,9,5,2,1}
print(a.difference(b))

{7}

In [16]:
print(b.difference(a))

{9, 5}

In [18]:
a={1,9,4,6,3,5}
b={3,5,6,4,7,2}
r=a.difference_update(b)
print('a=',a)
print('b=',b)
print('r=',r)

a= {1, 9}
b= {2, 3, 4, 5, 6, 7}
r= None

In [19]:
r=b.difference_update(a)
print('a=',a)
print('b=',b)
print('r=',r)

a= {1, 9}
b= {2, 3, 4, 5, 6, 7}
r= None

# a=123456 print even no.s from this

In [37]:
a="123456"
for i in a:
    if int(i)%2==0:
        print(i,end="")

246

In [41]:
s={1,2,3,4,5}
s.discard(3)
print(s)

{1, 2, 4, 5}

In [42]:
s.add(3)
print(s)

{1, 2, 3, 4, 5}

In [43]:
a={1,2,3,4,5,6}
b={2,6,4,8,3,9}
c={3,7,1,7,4,3,}
print(a.intersection(b))
print(a.intersection(c))
print(b.intersection(c))
print(c.intersection(a,b))

{2, 3, 4, 6}
{1, 3, 4}
{3, 4}
{3, 4}

In [45]:
r=a.intersection_update(b,c)
print("a=",a)
print("b=",b)
print("c=",c)
print("r=",r)

a= {3, 4}
b= {2, 3, 4, 6, 8, 9}
c= {1, 3, 4, 7}
r= None