# Turtle..!

In [ ]:
import turtle
project=turtle.Turtle()
def Square():
    project.forward(100)
    project.right(90)
    project.forward(100)
    project.right(90)
    project.forward(100)
    project.right(90)
    project.forward(100)
Square()
project.forward(100)
Square()
project.forward(100)
Square()
project.forward(100)
Square()
project.forward(100)
Square()

In [ ]:
import turtle as t
a=t.Turtle()
a.speed(0.1)
a.pencolor('red')
for i in range(300):
    a.forward(i)
    a.left(91)
t.done()

# Calendar

In [3]:
import calendar
print(calendar.weekheader(3))#Length

Mon Tue Wed Thu Fri Sat Sun

In [2]:
import calendar
print(calendar.month(2019,4,3))#Year,Month,Length
print()
print(calendar.monthcalendar(2019,4))#year,month
print()
print(calendar.firstweekday())#Day Staring Mon,Tue,Wed,Thu,Fri,Sat,Sun
print()
print(calendar.calendar(2019))#year
print()
day_of_the_week=calendar.weekday(2019,12,23)#year,month,day
print(day_of_the_week)
print()
leap_years=calendar.leapdays(2000,2019)
print(leap_years)

         April 2019
Mon Tue Wed Thu Fri Sat Sun
  1   2   3   4   5   6   7
  8   9  10  11  12  13  14
 15  16  17  18  19  20  21
 22  23  24  25  26  27  28
 29  30


[[1, 2, 3, 4, 5, 6, 7], [8, 9, 10, 11, 12, 13, 14], [15, 16, 17, 18, 19, 20, 21], [22, 23, 24, 25, 26, 27, 28], [29, 30, 0, 0, 0, 0, 0]]

0

                                  2019

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                   1  2  3
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31


0

5

# Datetime

In [1]:
import datetime
today=datetime.date.today()
print(today)
print()
birthday=datetime.date(1996,4,27)#Year,Month,Day
print(birthday)
print()
since_day=(today-birthday).days
print(since_day)
print()
tdelta=datetime.timedelta(days=10)#adding 10 Days to Present date
print(today + tdelta)
print()
print(today.year)
print()
print(today.month)
print()
print(today.day)
print()
print(today.weekday())

2019-12-24

1996-04-27

8641

2020-01-03

2019

12

24

1

In [2]:
import pandas as pd
data={'Name':['Saiteja','Kishore','Vinod'],'RollNo':[21,22,23]}
result=pd.DataFrame(data)
result

      Name  RollNo
0  Saiteja      21
1  Kishore      22
2    Vinod      23